<template>
    <div>
        <v-app-bar color="indigo" dark absolute>
            <v-app-bar-nav-icon @click="clickDrawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Sedimentation chambers dimentionning tool</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-layout justify-center align-center class="main">
            <v-container grid-list-md text-xs-center>
                <v-layout row wrap>
                        <v-layout row wrap>
                            <v-flex xs12><h3>Chamber dimentions</h3></v-flex>
                            <v-flex xs4><v-text-field v-model="Lch" type="number" label="Length chamber (mm)"></v-text-field></v-flex>
                            <v-flex xs4><v-text-field v-model="Wch" type="number" label="Width chamber (mm)"></v-text-field></v-flex>
                            <v-flex xs4><v-text-field v-model="Hch" type="number" label="Height chamber (mm)"></v-text-field></v-flex>
                            <v-flex xs6>
                                <h3>mini value</h3>
                                <v-text-field v-model="minLin" type="number" label="Lin min (mm)"></v-text-field>
                                <v-text-field v-model="minHin" type="number" label="Hin min (mm)"></v-text-field>
                                <v-text-field v-model="minWin" type="number" label="Win min (mm)"></v-text-field>
                                <v-text-field v-model="minHout" type="number" label="Hout min (mm)"></v-text-field>
                                <v-text-field v-model="minWout" type="number" label="Wout min (mm)"></v-text-field>
                                <v-text-field v-model="minLOut" type="number" label="Lout min (mm)"></v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <h3>maxi value</h3>
                                <v-text-field v-model="maxLin" type="number" label="Lin max (mm)"></v-text-field>
                                <v-text-field v-model="maxHin" type="number" label="Hin max (mm)"></v-text-field>
                                <v-text-field v-model="maxWin" type="number" label="Win max (mm)"></v-text-field>
                                <v-text-field v-model="maxHout" type="number" label="Hout max (mm)"></v-text-field>
                                <v-text-field v-model="maxWout" type="number" label="Wout max (mm)"></v-text-field>
                                <v-text-field v-model="maxLout" type="number" label="Lout max (mm)"></v-text-field>
                            </v-flex>
                        </v-layout>
                </v-layout>
                                    <v-btn dark color="blue" @click="clickCompute">Compute</v-btn>
                        <v-card id="results">
                            waiting for computation
                        </v-card>
            </v-container>
        </v-layout>
  </div>

</template>
<script>
    // load vue and vuetify
    import Vue from "vue"
        
    import Vuetify from 'vuetify'
    Vue.use(Vuetify)

    import { exhaustiveSearch } from '../logic/sed_dimentions/exhaustiveSearch'

    export default {
        data: function() {
            return {
                Lch: 3,
                Hch: .1,
                Wch: 1,

                minLin:5,
                minHin:50e-3,
                minWin:0.1,
                minHout:50e-3,
                minWout:0.1,
                minLOut:5,

                maxLin:10,
                maxHin:200e-3,
                maxWin:0.5,
                maxHout:200e-3,
                maxWout:0.5,
                maxLout:5,
            }
            
        },
        methods: {
            clickDrawer: function() {
                this.$emit('drawerclicked')
            },
            clickCompute: function() {
                const sol = exhaustiveSearch({
                        winMin:  parseFloat(this.minWin),
                        winMax:  parseFloat(this.maxWin),
                        hinMin:  parseFloat(this.minHin),
                        hinMax:  parseFloat(this.maxHin),
                        linMin:  parseFloat(this.minLin),
                        linMax:  parseFloat(this.maxLin),
                        woutMin: parseFloat(this.minWout),
                        woutMax: parseFloat(this.maxWout),
                        houtMin: parseFloat(this.minHout),
                        houtMax: parseFloat(this.maxHout),
                        loutMin: parseFloat(this.minLOut),
                        loutMax: parseFloat(this.maxLout),
                    },
                    parseFloat(this.Lch),
                    parseFloat(this.Wch),
                    parseFloat(this.Hch),
                );
                const resultdiv = document.querySelector('#results')
                if ( sol.eval < 1e5 ) { // if bigger, should not be considered as valid
                    resultdiv.innerHTML = "<b>lcin: </b>"+sol.sol.lin.toFixed(3)+", <b>wcin: </b>"+sol.sol.win.toFixed(3)+", <b>hcin: </b>"+sol.sol.hin.toFixed(3)+" mm<br/>";
                    resultdiv.innerHTML += "<b>lcout: </b>"+sol.sol.lout.toFixed(3)+", <b>wcout: </b>"+sol.sol.wout.toFixed(3)+", <b>hcout: </b>"+sol.sol.hout.toFixed(3)+" mm<br/>";
                    resultdiv.innerHTML += "<b>routing quality: </b>"+sol.eval.toFixed(3)+" ( < 10 : perfect, between 10 and 100 : correct)";
                } else {
                    resultdiv.innerHTML = "<b>No solution found</b>"
                }
            }
        }

    }


</script>
<style lang="scss">
    #results {
        margin: 10px;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

    .main {
        margin-top: 75px;
    }

</style>