<template>
    <div>
        <v-app-bar color="indigo" dark absolute>
            <v-app-bar-nav-icon @click="clickDrawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Sedimentation Chambers Lout dynamic computation</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-layout justify-center align-center class="main">
            <v-container grid-list-md text-xs-center>
                <v-layout column>
                        <h3>Chamber and channel dimentions</h3>
                        <v-text-field v-model="lch" type="number" label="Length chamber (mm)"></v-text-field>
                        <v-text-field v-model="wch" type="number" label="Width chamber (mm)"></v-text-field>
                        <v-text-field v-model="hch" type="number" label="Height chamber (mm)"></v-text-field>
                        <v-text-field v-model="lin" type="number" label="Length in (mm)"></v-text-field>
                        <v-text-field v-model="win" type="number" label="Width in (mm)"></v-text-field>
                        <v-text-field v-model="hin" type="number" label="Height in (mm)"></v-text-field>
                        <v-text-field v-model="wout" type="number" label="Width out (mm)"></v-text-field>
                        <v-text-field v-model="hout" type="number" label="Height out (mm)"></v-text-field>
                        Ideal outlet length (mm) : <b>{{lout}}</b>
                </v-layout>
            </v-container>
        </v-layout>
    </div>
</template>
<script>
    // load vue and vuetify
    import Vue from "vue"
        
    import Vuetify from 'vuetify'
    Vue.use(Vuetify)

    import { computeLout } from '../logic/sed_dimentions/eval'

    export default {
        data: function() {
            return {
                lch: 3,
                hch: .1,
                wch: 1,
                lin: 5,
                win: .4,
                hin: .1,
                wout: .25,
                hout: .1
            }
        },
        computed: {
            lout: function() {
                const res = computeLout(
                    parseFloat(this.lch),
                    parseFloat(this.wch),
                    parseFloat(this.hin),
                    parseFloat(this.win),
                    parseFloat(this.lin),
                    parseFloat(this.hout),
                    parseFloat(this.wout)
                ).toFixed(3);
                return res;
            }
        },
        methods: {
            clickDrawer: function() {
                this.$emit('drawerclicked')
            }
        }
    }
</script>
<style lang="scss">
</style>