<template lang="html">
    <div>
        <v-app-bar color="indigo" dark>
            <v-app-bar-nav-icon @click="clickDrawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Sedimentation chamber positionning</v-toolbar-title>
            <v-spacer></v-spacer>
            <upload-btn class="uploadbtn" @file-update="loadData" large block outline color="indigo" icon>
                <template slot="icon-left">
                    <v-icon>attachment</v-icon> import chip
                </template>
            </upload-btn>
            <v-btn tile outlined @click="downloadData"><v-icon left>cloud_download</v-icon>export chip</v-btn>
        </v-app-bar>
        <v-tabs v-model="activeTab" grow slider-color="indigo">
            <v-tab>Chip requirements</v-tab>
            <v-tab>Chamber placement</v-tab>
            <v-tab>Inlet/Outlet routing</v-tab>
        </v-tabs>
        <v-tabs-items v-model="activeTab">
            <v-tab-item class="tabelt" :key="1"><Step1 :up="updateSteps" /></v-tab-item>
            <v-tab-item class="tabelt" :key="2"><Step2 :active="step2Active" /></v-tab-item>
            <v-tab-item class="tabelt" :key="3"><Step3 :active="step3Active" /></v-tab-item>
        </v-tabs-items>
    </div>
</template>
<script>
/* eslint-disable */
    // load vue and vuetify
    import Vue from "vue"
    import Vuetify from 'vuetify'
    import UploadButton from 'vuetify-upload-button';

    Vue.use(Vuetify)
    Vue.use(UploadButton)

    // load Components
    import { DataProvider } from '../logic/DataProvider'
    import Step1 from './Step1.vue'
    import Step2 from './Step2.vue'
    import Step3 from './Step3.vue'

    export default {
        components: {
            'upload-btn': UploadButton,
            Step1,
            Step2,
            Step3,
        },
        data() {
          return {
            updateSteps: false,
            activeTab: null
          }
        },
        methods: {
          clickDrawer: function() {
            this.$emit('drawerclicked')
          },
          loadData: function(file) {
            let self = this
            let reader = new FileReader()
            reader.addEventListener('load', function() {
              // load data
              let res = JSON.parse(reader.result)
              DataProvider.initData(res['step1'],res['step2'],res['step3'])
              self.updateSteps = true
            })
            reader.readAsText(file)
          },
          downloadData: function() {
            let res = {
              step1: DataProvider.getStep1Data(),
              step2: DataProvider.getStep2Data(),
              step3: DataProvider.getStep3Data()
            }
            let content = JSON.stringify(res, null, 2)
            let contentType = "application/json"
            let date = new Date()
            let filename = res.step1.chip.name+"_"+date.getFullYear()+"_"+(date.getMonth()+1>=10?"":"0")+(date.getMonth()+1)+"_"+date.getDate()+".json"
            let a = document.createElement('a');
            a.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(content));
            a.setAttribute('download', filename);
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          },
        },
        computed: {
          stepActive: function() { return this.activeTab+1 },
          step2Active: function() { return this.stepActive === 2 },
          step3Active: function() { return this.stepActive === 3 }
        },
        created: function() {
          DataProvider.initStep1Data({ nodes:[], channels:[], chip:{w:35, h:35, name:'ChipName'} })
          DataProvider.initStep2Data({ nodes:[], channelPositions:[]})
          DataProvider.initStep3Data({ nodes:[], channels:[], params:
            {
              minRadius: 0.5,
              inletRadius: 2,
              outletRadius: 2,
              precision: 0.25,
              distBorder: 2,
              minDistNode: 0.3,
              minDistChamber: 0.5,
              hChamber: 0.4,
              hPunchHoles: 3,
            }
          })
          DataProvider.initDebug3Data({})
        }
    }
</script>
<style lang="scss">
    .main {
        background-color: #fff;
    }

    .tabelt {
        color: black;
    }

    .uploadbtn {
        border: 1px solid white;
        padding: 0 !important;
        margin-right: 10px;

        label {
            padding: 5px !important;
        }
    }

    .test {
        background-color: black;
        width: 100%;
        height: 1000px;
    }
</style>
