<template lang="html">
    <div id="step2Component">
        <div>
            <InteractiveGraphics :id="1" :width="600" :height="600*getHeight()/getWidth()" :data-string="dataText" @update="dataUpdate" />
            <v-text-field v-model="chamberResolution" type="number" label="chamber resolution (mm)"></v-text-field>
        </div>
        <div>
        <div v-if="nodemeasures.length > 0">
            <h2>Node information</h2>
            <table class="infotable">
                <thead>
                    <tr>
                        <td>name</td>
                        <td>x (mm)</td>
                        <td>y (mm)</td>
                        <td>w (mm)</td>
                        <td>h (mm)</td>
                        <td colspan="2">align to punch hole</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="e in nodemeasures" :key="e.name">
                        <td>{{e.name}}</td>
                        <td>{{e.x.toFixed(3)}}</td>
                        <td>{{e.y.toFixed(3)}}</td>
                        <td>{{e.w.toFixed(3)}}</td>
                        <td>{{e.h.toFixed(3)}}</td>
                        <td><v-btn x-small @click="centerH(e)">horiz.</v-btn></td>
                        <td><v-btn x-small @click="centerV(e)">verti.</v-btn></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="score.channels.length > 0">
            <h2>Channel information</h2>
            <table class="infotable">
                <thead>
                    <tr>
                        <td class="errorheader"></td>
                        <td>channel</td>
                        <td colspan="2">width & length (mm)</td>
                        <td colspan="2">align center of</td>
                        <td colspan="2">align border of</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="e in score.channels" :key="e.from+'-'+e.to">
                        <td><v-icon color="red" v-if="e.width < 0.05">error</v-icon></td>
                        <td>{{e.from}}-{{e.to}}</td>
                        <td>{{e.width.toFixed(3)}}</td>
                        <td>{{e.length.toFixed(3)}}</td>
                        <td><v-btn x-small @click="centerFrom(e)">{{e.from}}</v-btn></td>
                        <td><v-btn x-small @click="centerTo(e)">{{e.to}}</v-btn></td>
                        <td><v-btn x-small @click="borderFrom(e)">{{e.from}}</v-btn></td>
                        <td><v-btn x-small @click="borderTo(e)">{{e.to}}</v-btn></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'
import * as d3 from 'd3'
import InteractiveGraphics from 'vue-interactive-graphics'
import { DataProvider } from '../logic/DataProvider'
import { Step1Data, Step2Data, ChannelDirection } from '../logic/structures'
import { computeChannels, step2Evaluation } from '../logic/positionning/step2'
import { rounding } from '../logic/sed_dimentions/eval'


export default {
  props: {
    active:Boolean
  },
  data() {
    return {
      data: this.getIGInstructions(),
      chamberResolution: 0.005,
      dialogNodeEdit: false,
      editedNodeItem: DataProvider.getStep2Data().nodes[0],
    }
  },
  components: { InteractiveGraphics },
  computed: {
    dataText: function() {
      return JSON.stringify(this.data, null, 4)
    },
    score: function() {
      let useData = this.data
      return step2Evaluation()
    },
    nodemeasures:  function() {
      let useData = this.data
      let s2 = DataProvider.getStep2Data().nodes
      return s2.map( (e) => { return e })
    },
  },
  mounted: function() {
    let self = this
    DataProvider.addObserver2( function() {
      // if step1 updated some channels, change height of component
      var s1_surfaces = {}
      DataProvider.getStep1Data().nodes.forEach( (e) => {
        s1_surfaces[e.name] = e.surface
      })
      DataProvider.getStep2Data().nodes.forEach( (e) => {
        e.h = s1_surfaces[e.name]/e.w
      })
      self.data = self.getIGInstructions()
      computeChannels()
    })

    DataProvider.addChangeObserver( function() {
      self.data = self.getIGInstructions()
      computeChannels()
    })
  },
  watch: {
    active: function(val) {
      // console.log("step2 now: "+val)
      this.data = this.getIGInstructions()
    },
    dialogNodeEdit (val) {
      val || this.closeEditNode()
    }
  },
  methods: {

    closeEditNode() {
      this.dialogNodeEdit = false
    },

    saveEditNode() {
      let s2 = DataProvider.getStep2Data().nodes
      let index = s2.findIndex( (e) => {return e.name === this.editedNodeItem.name } )
      s2[index].x = rounding(parseFloat(this.editedNodeItem.x), this.chamberResolution)
      s2[index].y = rounding(parseFloat(this.editedNodeItem.y), this.chamberResolution)
      s2[index].w = rounding(parseFloat(this.editedNodeItem.w), this.chamberResolution)
      s2[index].h = rounding(parseFloat(this.editedNodeItem.h), this.chamberResolution)
      this.updateChip(this.getIGInstructions())
      computeChannels()
      this.closeEditNode()
    },

    editNode(item) {
      this.editedNodeItem = Object.assign({}, item)
      this.dialogNodeEdit = true
    },

    /**
     * centers vertically around punch holes positions
     */
    centerV(item) {
      let punch_hole_offset = 4;
      let punch_hole_resolution = 9;
      let cx = item.x + item.w/2
      let new_cx = Math.floor(( cx - punch_hole_offset + punch_hole_resolution/2 ) / punch_hole_resolution)*punch_hole_resolution+punch_hole_offset
      let new_x = new_cx - item.w/2;
      let s2 = DataProvider.getStep2Data().nodes
      let index = s2.findIndex( (e) => {return e.name === item.name } )
      s2[index].x = new_x
      this.updateChip(this.getIGInstructions())
      computeChannels()
    },

    /**
     * centers horizontally around punch holes positions
     */
    centerH(item) {
      let punch_hole_offset = 4;
      let punch_hole_resolution = 9;
      let cy = item.y + item.h/2
      let new_cy = Math.floor(( cy - punch_hole_offset + punch_hole_resolution/2 ) / punch_hole_resolution)*punch_hole_resolution+punch_hole_offset
      let new_y = new_cy - item.h/2;
      let s2 = DataProvider.getStep2Data().nodes
      let index = s2.findIndex( (e) => {return e.name === item.name } )
      s2[index].y = new_y
      this.updateChip(this.getIGInstructions())
      computeChannels()
    },

    /**
     * centers from to match the center of to
     */
    centerFrom(item) {
      let s2 = DataProvider.getStep2Data()
      let f = s2.nodes.find( (e) => { return item.from === e.name })
      let t = s2.nodes.find( (e) => { return item.to === e.name })
      let cxf =  f.x+f.w/2
      let cyf = f.y+f.h/2
      let cxt = t.x+t.w/2
      let cyt = t.y+t.h/2

      let s2_channel = s2.channelPositions.find( (e) => { return e.from === item.from && e.to === item.to })
      let new_y = cyf - f.h/2
      let new_x = cxf - f.w/2
      if ( s2_channel ) {
        if ( s2_channel.dir === ChannelDirection.Horizontal ) {
          new_y = cyt - f.h/2
        } else {
          new_x = cxt - f.w/2
        }
        // let index = s2.nodes.findIndex( (e) => {return e.name === item.from.name } )
        // console.log(s2.nodes)
        f.x = new_x
        f.y = new_y
        this.updateChip(this.getIGInstructions())
        computeChannels()
      }
    },

    /**
     * centers to to match the center of from
     */
    centerTo(item) {
      let s2 = DataProvider.getStep2Data()
      let f = s2.nodes.find( (e) => { return item.from === e.name })
      let t = s2.nodes.find( (e) => { return item.to === e.name })
      let cxf =  f.x+f.w/2
      let cyf = f.y+f.h/2
      let cxt = t.x+t.w/2
      let cyt = t.y+t.h/2

      let s2_channel = s2.channelPositions.find( (e) => { return e.from === item.from && e.to === item.to })
      let new_y = cyt - t.h/2
      let new_x = cxt - t.w/2
      if ( s2_channel ) {
        if ( s2_channel.dir === ChannelDirection.Horizontal ) {
          new_y = cyf - t.h/2
        } else if ( s2_channel.dir === ChannelDirection.Vertical ) {
          new_x = cxf - t.w/2
        }
        // let index = s2.nodes.findIndex( (e) => {return e.name === item.from.name } )
        // console.log(s2.nodes)
        t.x = new_x
        t.y = new_y
        this.updateChip(this.getIGInstructions())
        computeChannels()
      }
    },

    /**
     * stick borders together
     */
    borderFrom(item) {
        let s2 = DataProvider.getStep2Data()
        let f = s2.nodes.find( (e) => { return item.from === e.name })
        let t = s2.nodes.find( (e) => { return item.to === e.name })
        let new_x = f.x
        let new_y = f.y
        let s2_channel = s2.channelPositions.find( (e) => { return e.from === item.from && e.to === item.to })
        if ( s2_channel ) {
            if ( s2_channel.dir === ChannelDirection.Horizontal ) {
                if ( Math.abs(f.y-t.y) < Math.abs(t.y+t.h-f.y-f.h) ) {  // difference top < difference bottom
                    new_y = t.y
                } else {  // difference top >= difference bottom
                    new_y = t.y+t.h-f.h
                }
            } else {  // if vertical channel
                if ( Math.abs(f.x-t.x) < Math.abs(t.x+t.w-f.x-f.w) ) {  // difference top < difference bottom
                    new_x = t.x
                } else {  // difference top >= difference bottom
                    new_x = t.x+t.w-f.w
                }
            }
            f.x = new_x
            f.y = new_y
            this.updateChip(this.getIGInstructions())
            computeChannels()
        }
    },

    borderTo(item) {
        let s2 = DataProvider.getStep2Data()
        let f = s2.nodes.find( (e) => { return item.from === e.name })
        let t = s2.nodes.find( (e) => { return item.to === e.name })
        let new_x = t.x
        let new_y = t.y
        let s2_channel = s2.channelPositions.find( (e) => { return e.from === item.from && e.to === item.to })
        if ( s2_channel ) {
            if ( s2_channel.dir === ChannelDirection.Horizontal ) {
                if ( Math.abs(t.y-f.y) < Math.abs(f.y+f.h-t.y-t.h) ) {  // difference top < difference bottom
                    new_y = f.y
                } else {  // difference top >= difference bottom
                    new_y = f.y+f.h-t.h
                }
            } else {  // if vertical channel
                if ( Math.abs(t.x-f.x) < Math.abs(f.x+f.w-t.x-t.w) ) {  // difference top < difference bottom
                    new_x = f.x
                } else {  // difference top >= difference bottom
                    new_x = f.x+f.w-t.w
                }
            }
            t.x = new_x
            t.y = new_y
            this.updateChip(this.getIGInstructions())
            computeChannels()
        }
    },

    updateChip(d) {
      this.data = d
      computeChannels()
    },

    getWidth() { return DataProvider.getStep1Data().chip.w },
    getHeight() { return DataProvider.getStep1Data().chip.h },
    dataUpdate(newValue) { // updates instance
      this.setIGInstructions(newValue)
      // recompute axonal channels
      this.updateChip(this.getIGInstructions())
    },
    setIGInstructions: function(str) {
      let d = JSON.parse(str)
      let step2Data = DataProvider.getStep2Data()
      d.instr.forEach( (e) => {
        step2Data.nodes.forEach( (a) => {
          if ( a.name === e.text ) {
            if ( a.x !== e.x || a.y !== e.y || a.w !== e.width || a.h !== e.height ) {
              // remove step3 channels
              let s3 = DataProvider.getStep3Data()
              s3.channels = s3.channels.filter( (c) => {
                return a.name !== c.name
              })
            }
            a.x = rounding(e.x, this.chamberResolution)
            a.y = rounding(e.y, this.chamberResolution)
            a.w = rounding(e.width, this.chamberResolution)
            a.h = rounding(e.height, this.chamberResolution)
          }
        })
      })
    },
    getIGInstructions: function() {
      let step1Data = DataProvider.getStep1Data()
      let step2Data = DataProvider.getStep2Data()
      let evalStep2 = step2Evaluation()

      let isChannelOk = (from,to) => {
        let res = false
        step1Data.channels.forEach( (c,i) => {
          if (c.from+"-"+c.to === from+"-"+to) {
            res = true
            // res = evalStep2.channels[i].width >= c.width
            if ( evalStep2.channels[i].length > 2.4 ) {
              res = false
            }
          }
        })
        return res
      }

      let instructions = []
      let id_instr = 0

      let id_indicators = 5000;
      let punch_hole_offset = 4;
      let punch_hole_resolution = 9;
      let radius_indicator = 5;
      let offset_indicators = -1;
      for ( let i = 0 ; i < 4 ; i++ ) {
        for ( let j = 0 ; j < 4 ; j++ ) {
          instructions.push({
            "id": id_indicators++,
            "layer": "punchholeIndicators",
            "type": "circle",
            "cx": (i+0.5)*2*radius_indicator+(i+1)*offset_indicators,
            "cy": (j+0.5)*2*radius_indicator+(j+1)*offset_indicators,
            "r": 6.7/2,
            "fill": "rgba(0,0,0,0)",
            "stroke": "teal"
          })
        }
      }

      // add grid
      instructions.push({
        "id": id_instr++,
        "layer": "1",
        "type": "grid",
        "dim-x": 1,
        "dim-y": 1,
        "stroke": "#ddd",
        "x":0, "y":0, "w":step1Data.chip.w, "h":step1Data.chip.h 
      })

      // add x marks
      for ( let x = 0 ; x <= step1Data.chip.w ; x += 5 ) {
        instructions.push({
          "id": "x-"+x,
          "layer": "1",
          "type": "rect",
          "x": x, "y":-1,
          "width": 0,
          "height": 0,
          "fill": "rgba(0,0,0,0)",
          "stroke-width": 0,
          "text": x,
          "textColor":  "#888",
          "textStroke": "#888"
        })
      }

      // add y marks
      for ( let y = 0 ; y <= step1Data.chip.w ; y += 5 ) {
        instructions.push({
          "id": "y-"+y,
          "layer": "1",
          "type": "rect",
          "x": -1, "y":y,
          "width": 0,
          "height": 0,
          "fill": "rgba(0,0,0,0)",
          "stroke-width": 0,
          "text": y,
          "textColor":  "#888",
          "textStroke": "#888"
        })
      }

      // add chambers
      step2Data.nodes.forEach( (e,i) => {
        instructions.push({
          "id": id_instr++,
          "layer": "3",
          "type": "rect",
          "x": rounding(e.x, this.chamberResolution),
          "y": rounding(e.y, this.chamberResolution),
          "width":  rounding(e.w, this.chamberResolution),
          "height": rounding(e.h, this.chamberResolution),
          "fill": ( Math.max(e.w/e.h, e.h/e.w) <= 5 ) ? "#cea" : "#f88",
          "stroke-width": 0,
          "text": e.name,
          "resize": "constantSurface",
          "draggable": true
        })
      })

      // add axonal channels
      step2Data.channelPositions.forEach( (e) => {
        instructions.push({
          "id": id_instr++,
          "layer": "2",
          "type": "rect",
          "x": e.x,
          "y": e.y,
          "width": e.w,
          "height": e.h,
          "fill": isChannelOk(e.from,e.to)?"#7a5a":"#f44a",
          "stroke-width": 0
        })
      })

      let layerOrder = ['1',"punchholeIndicators", '2','3']
      let drawSize = {
        'w': step1Data.chip.w,
        'h': step1Data.chip.h
      }

      return {
        instr: instructions,
        layerOrder: layerOrder,
        drawSize: drawSize
      }
    }
  }
}
</script>

<style lang="scss">
  #step2Component {
    padding-top: 30px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin: 10px;

    div {
        margin: 5px;
    }
  }

  .invalidrow {
    background-color: red;
  }

  .channelScores {
    h2 {
      margin-top: 20px;
    }
  }

  .infotable {
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 5px 0px 5px 0px;
      font-size: 0.8em;


      thead {
          font-weight: bold;
      }

      tbody {
          tr {
              td {
                    border-top: 1px solid #ccc;
                    padding: 3px 5px 3px 5px;
              }
          }
      }
  }
</style>
