<template lang="html">
  <div id="Step1Component">

    <v-snackbar :timeout="2000" v-model="snackbar">
      {{ snackbartext }}
      <!-- <v-btn text color="black" @click="snackbar = false">Close</v-btn> -->
    </v-snackbar>

    <div>
      <v-text-field name="chipWidth" v-model="dataText.chip.w" type="number" v-on:change="onChange" label="chip width (mm)"></v-text-field>
      <v-text-field name="chipHeight" v-model="dataText.chip.h" type="number" v-on:change="onChange" label="chip height (mm)"></v-text-field>
      <v-text-field name="chipName" v-model="dataText.chip.name" type="text" v-on:change="onChange" label="chip name"></v-text-field>
    </div>

    <div id="step1Columns">
      <div id="step1nodes">
        <h2>Nodes</h2>
        <div id="step1NodesContent">

          <v-card class="cardinterface" v-for="node in dataText.nodes" :key="node.name" >
                  <div class="cardname">{{ node.name }}</div>
                  <v-text-field v-model="node.surface" type="number" label="node surface (mm^2)"></v-text-field>
                  <v-text-field v-model="node.neurons" v-on:change="computeSurface(node.name)" type="number" label="neurons"></v-text-field>
                  <v-btn @click="removeNode(node.name)">
                    <v-icon>delete</v-icon> DELETE
                  </v-btn>
                  <v-btn @click="computeSurface(node.name)">get surface</v-btn>
          </v-card>

        <!-- Interface to add nodes -->
        <v-card class="new_card">
          <v-card-title primary-title>
            <div>
              <v-text-field v-model="new_node_name" label="node name"></v-text-field>
              <v-text-field v-model="new_node_surface" type="number" label="node surface (mm^2)"></v-text-field>
              <v-text-field v-model="new_node_neurons" type="number" label="nb neurons"></v-text-field>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn @click="createNode">
                <v-icon>add</v-icon> CREATE
              </v-btn>
          </v-card-actions>
        </v-card>
        </div>
      </div>

      <div id="step1channels">
        <h2>Channels</h2>
        <div id="step1ChannelsContent">

          <v-card class="cardinterface" v-for="channel in dataText.channels" :key="channel.key" >
            <div class="cardname">{{channel.from}} -> {{channel.to}}</div>
            <v-text-field v-model="channel.length" type="number" label="length (distance between chambers)"></v-text-field>
            <v-text-field v-model="channel.width" type="number" label="width"></v-text-field>
            <v-select v-model="channel.type" :items="channeltypes" label="Channel type"></v-select>
            <v-btn @click="removeChannel(channel.from, channel.to)">
              <v-icon>delete</v-icon> DELETE
            </v-btn>
          </v-card>
        
        </div>

          <v-card class="new_card">
          <v-card-title primary-title>
            <div>
              <v-select v-model="new_channel_from" :items="nodeNames" label="from"></v-select>
              <v-select v-model="new_channel_to" :items="nodeNames" label="to"></v-select>
              <v-select v-model="new_channel_type" :items="channeltypes" label="Channel type"></v-select>
              <v-text-field v-model="new_channel_length" type="number" label="length (mm)"></v-text-field>
              <v-text-field v-model="new_channel_width" type="number" label="width (mm)"></v-text-field>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn @click="createChannel">
                <v-icon>add</v-icon> CREATE
              </v-btn>
          </v-card-actions>
        </v-card>
        </div>

    </div>

  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'
import swal from 'sweetalert2'

import { DataProvider } from '../logic/DataProvider'
import { Step1Data } from '../logic/structures'
import { computeChannels } from '../logic/positionning/step2'
import { rounding } from '../logic/sed_dimentions/eval'


export default {
  props: {
    up:Boolean
  },
  
  data: function() {
      let res = this.setDataText(DataProvider.getStep1Data())
      res.channels.forEach( (c) => {
        c.key = c.from + "-" + c.to
      })
    return {
      dataText: res, 
      new_node_name: "", 
      new_node_surface: 1, 
      new_node_neurons: 50000, 
      new_channel_width: 1, 
      new_channel_length: 1, 
      new_channel_from:null, 
      new_channel_to:null,
      new_channel_type:"bidirectional",
      snackbar:null,
      snackbartext:null,
      channeltypes: ["bidirectional", "diode", "ark"],
    }
  },

  beforeDestroy() {
    DataProvider.initStep1Data(this.getDataFromText(this.dataText))
  },

  mounted: function() {
    let self = this
    DataProvider.addChangeObserver( () => {
      self.updateData()
    })
  },

  watch: {
    up: function() {
      this.updateData()
    }
  },


  methods: {

    computeDataText() {
      let res = this.setDataText(DataProvider.getStep1Data())
      res.channels.forEach( (c) => {
        c.key = c.from + "-" + c.to
      })
      return res
    },

    updateData: function() {

      this.dataText = this.computeDataText()
      // DataProvider.initStep1Data(this.getDataFromText(this.dataText))
    },

    onChange: function() {
      DataProvider.initStep1Data(this.getDataFromText(this.dataText))
      // update with of each step2Node
      let s1 = DataProvider.getStep1Data()
      let s2 = DataProvider.getStep2Data()
      let s3 = DataProvider.getStep3Data()
      s2.nodes.forEach( (e,i) => {
        if ( e.w !== s1.nodes[i].surface/e.h ) {
          e.w = s1.nodes[i].surface/e.h
          // remove step3 channels for this node
          s3.channels = s3.channels.filter( (a) => {
            return a.name !== e.name
          })
        }
      })
      DataProvider.initStep3Data(s3)
    },

    setDataText(data) {
      return {
        nodes: data.nodes.map( (e) => {
          return {
            name: e.name,
            neurons: e.neurons.toString(),
            surface: e.surface.toString()
          }
        }),
        channels: data.channels.map( (e) => {
          return {
            from: e.from,
            to: e.to,
            connectivity: e.connectivity.toString(),
            length: e.length.toString(),
            width: e.width.toString(),
            type: e.type,
          }
        }),
        chip: {
          'w': data.chip.w.toString(),
          'h': data.chip.h.toString(),
          'name': data.chip.name,
        }
      }
    },

    getDataFromText(text) {
      try {
        return {
          'nodes': this.dataText.nodes.map( (e) => {
            return {
              name: e.name,
              neurons: parseInt(e.neurons),
              surface: parseFloat(e.surface)
            }
          }),
          'channels': this.dataText.channels.map( (e) => {
            return {
              from: e.from,
              to: e.to,
              connectivity: parseFloat(e.connectivity),
              length: parseFloat(e.length),
              width: parseFloat(e.width),
              type: e.type,
            }
          }),
          'chip': {
            'w': parseFloat(this.dataText.chip.w),
            'h': parseFloat(this.dataText.chip.h),
            'name': this.dataText.chip.name,
          }
        }

      } catch(e) { return { nodes:[], channels:[], chip:{w:35, h:35} } }
    },

    computeSurface(name) {
      let r = 0.005
      let s1 = DataProvider.getStep1Data()
      let node_id = this.dataText.nodes.findIndex( function(e) { return e.name === name })
      let neurons = this.dataText.nodes[node_id].neurons
      let new_surface = rounding(Math.PI*r*r*neurons*Math.sqrt(2), 0.05).toFixed(3)
      this.dataText.nodes[node_id].surface = new_surface
      DataProvider.initStep1Data(this.getDataFromText(this.dataText))
      let s2 = DataProvider.getStep2Data()
      let s2_node_id = this.dataText.nodes.findIndex( function(e) { return e.name === name })
      s2.nodes[s2_node_id].w = Math.sqrt(new_surface)
      s2.nodes[s2_node_id].h = Math.sqrt(new_surface)

    },

    removeNode(name) {
      // delete chanels if node is an input or output
      this.dataText.channels = this.dataText.channels.filter(function(d) { return d.from !== name && d.to !== name})
      // delete node if exists in node
      this.dataText.nodes = this.dataText.nodes.filter(function(d){ return d.name !== name })
      // remove node in step2
      let s2 = DataProvider.getStep2Data()
      s2.nodes = s2.nodes.filter( (e) => {
        return e.name !== name
      })
      s2.channelPositions = s2.channelPositions.filter( (e) => {
        return e.from !== name && e.to !== name
      })
      // remove inlets/outlets, channels in step3
      let s3 = DataProvider.getStep3Data()
      s3.nodes = s3.nodes.filter( (e) => {
        return e.name !== name
      })
      s3.channels = s3.channels.filter( (e) => {
        return e.name !== name
      })
    },

    removeChannel(from, to) {
      this.dataText.channels = this.dataText.channels.filter(function(d){ return d.from !== from || d.to !== to })
      // remove channel from step2
      let s2 = DataProvider.getStep2Data()
      s2.channelPositions = s2.channelPositions.filter( (e) => {
        return e.from !== from && e.to !== to
      })
    },

    showSnackbar(text) {
      this.snackbartext = text
      this.snackbar = true
    },

    addNode(name, neurons, surface) {
        // step2 add chamber
        let s1 = DataProvider.getStep1Data()
        let s2 = DataProvider.getStep2Data()
        let s3 = DataProvider.getStep3Data()

        // check if the node has no name
        if ( name === "" ) {
            this.showSnackbar("a node cannot be empty named")
            return
        }

        // check if there is already a node with the same name
        if ( s2.nodes.filter( (e) => { return e.name === name; }).length >= 1 ) {
            this.showSnackbar("a node called '"+name+"' already exists")
            return
        }

        var node = {name:name, neurons: neurons.toString(), surface: surface.toString()}
        this.dataText.nodes.push(node)

        s2.nodes.push({
          name: name,
          x: Math.random()*(s1.chip.w - Math.sqrt(surface)),
          y: (Math.random()*s1.chip.h - Math.sqrt(surface)),
          w: Math.sqrt(surface),
          h: Math.sqrt(surface)
        })

        // step3 add inlets/outlets
        s3.nodes.push({
          name: name,
          inlet: {
            x: Math.random()*s1.chip.w,
            y: Math.random()*s1.chip.h
          },
          outlet: {
            x: Math.random()*s1.chip.w,
            y: Math.random()*s1.chip.h
          },
        })
      },

        addChannel(from, to, width, length, type) {
            // check if the node has no name
            if ( from === "" || to === "" || from === null || to === null ) {
                this.showSnackbar("a channel node has a non-valid name")
                return
            }
            this.dataText.channels.push({from:from, to:to, connectivity:"0", length:length.toString(), width:width.toString(), type:type})
            this.onChange()
            computeChannels()
      },

      createNode() {
        this.addNode(this.new_node_name, this.new_node_neurons, this.new_node_surface)
      },

      getPossibleChannels() {
        let existing = this.dataText.channels.map( (e) => { return e.from+"-"+e.to })
        let res = {}
        this.dataText.nodes.forEach( (a) => {
          this.dataText.nodes.forEach ( (b) => {
            if ( a.name !== b.name && existing.indexOf(a.name+"-"+b.name) < 0 ) {
              res[a.name+"-"+b.name] = a.name+" -> "+b.name
            }
          })
        })
        return res
      },

      createChannel() {
        this.addChannel(this.new_channel_from, this.new_channel_to, this.new_channel_width, this.new_channel_length, this.new_channel_type)
      }

  },

  computed: {
    dataNumbers: function() { return this.getDataFromText(this.dataText) },
    nodeNames: function() { return this.dataText.nodes.map( (e) => { return e.name })}
    // dataText() {
    //   let res = this.setDataText(DataProvider.getStep1Data())
    //   res.channels.forEach( (c) => {
    //     c.key = c.from + "-" + c.to
    //   })
    //   return res
    // }
  }

}
</script>
<style lang="scss">

#Step1Component {
    padding: 50px;
}

#step1Columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
}

#step1nodes {
    color: black;
    width: 400px;
    margin-right: 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

#step1channels {
    color: black;
    margin-left: 10px;
    width: 400px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.step1NodeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 0px 0px;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.cardList {
  list-style-type: none;
}

h2 {
  text-align: center;
}

.code {
  width: 800px;
  margin: auto;
  border: 1px solid #aaa;
  font-family: Courier;
  margin-top: 30px;
  padding: 10px;
}

.cardinterface {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e5e5e5 !important;
}

.new_card {
  background-color: #dfd!important;
}

.cardname {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 25px;
}

</style>
