<template lang="html">
  <div id="step3Component">
        <InteractiveGraphics :perspective="perspective" :id="2" :width="600" :height="600*getHeight()/getWidth()" :data-string="dataText" @update="dataUpdate" />
        <v-flex xs6 class="step3Actions">
            <v-card class="actioncat">
                <v-card-title>routing algorithm parameters</v-card-title>
                <v-card-text>
                    <v-text-field v-model="minDistPunchHole" type="number" label="minimum distance to punch hole (mm)"></v-text-field>
                    <v-text-field v-model="minDistChamber" type="number" label="minimum distance to chambers (mm)"></v-text-field>
                    <v-text-field v-model="minDistChannel" type="number" label="distance to other channels (mm)"></v-text-field>
                </v-card-text>
            </v-card>

            <v-card class="actioncat">
                <v-card-title>Routing actions</v-card-title>
                <v-card-text>
                <v-layout row wrap>
                    <table class="actiontable">
                        <thead>
                            <tr>
                            <th>Node</th>
                            <th colspan="2">automatic routing</th>
                            </tr>
                        </thead>
                        <tbody v-for="n in nodes" :key="n.name">
                            <td class="emphasis">{{n.name}}</td>
                            <td><v-btn @click="_route(n.name,'h')">horizontal</v-btn></td>
                            <td><v-btn @click="_route(n.name,'v')">vertical</v-btn></td>
                        </tbody>
                    </table>
                </v-layout>
                </v-card-text>
             </v-card>

            <v-card class="actioncat">
                <v-card-title>Algorithm internals visualization (advanced)</v-card-title>
                <v-card-text>
                <v-layout row wrap>
                    <v-checkbox :label="`graph in`" v-model="gin"></v-checkbox>
                    <v-spacer></v-spacer>
                    <v-checkbox :label="`graph out`" v-model="gout"></v-checkbox>
                    <v-spacer></v-spacer>
                    <v-checkbox :label="`channel lines`" v-model="channelLines"></v-checkbox>
                </v-layout>
                </v-card-text>
             </v-card>

        </v-flex>

  </div>
</template>

<script>
/* eslint-disable */
import * as d3 from "d3";
import Vue from "vue";
import Vuetify from "vuetify";
Vue.use(Vuetify);

import Swal from "sweetalert2";

import InteractiveGraphics from "vue-interactive-graphics";
import { DataProvider } from "../logic/DataProvider";
import { Step1Data, Step2Data, Step3Data, ChannelDirection } from "../logic/structures";

import { route, createDimension } from "../logic/sed_dimentions/routing/createRoutes";
import { rectangularFloodFill } from "../logic/geometry/algo/rectangularFloodFill";

export default {
  props: {
    active: Boolean
  },
  data() {
    return {
      data: this.getIGInstructions(),
      gin: false,
      gout: false,
      perspective: false,
      channelLines: false,
      minDistPunchHole: 1.25,
      minDistChannel: 0.5
    };
  },
  components: { InteractiveGraphics },
  computed: {
    minDistChamber: {
      get: function() {
        return DataProvider.getStep3Data().params.minDistNode;
      },
      set: function(v) {
        DataProvider.getStep3Data().params.minDistNode = v;
      }
    },
    dataText: function() {
      return JSON.stringify(this.data, null, 4);
    },
    nodes: function() {
      let d = DataProvider.getStep2Data();
      return d.nodes;
    },
    channelText: {
      get: function() {
        let res = { in: {}, out: {} };
        let call_refresh = this.dataText;
        let d = DataProvider.getStep3Data();
        for (let c of d.channels) {
          let s_in = "";
          for (let e of c.in) {
            let ex = e.x.toPrecision(2);
            let ey = e.y.toPrecision(2);
            s_in += ex + "," + ey + "#";
          }
          res["in"][c.name] = s_in;
          let s_out = "";
          for (let e of c.out) {
            let ex = e.x.toPrecision(2);
            let ey = e.y.toPrecision(2);
            s_out += ex + "," + ey + "#";
          }
          res["out"][c.name] = s_out;
        }
        return res;
      }
    }
  },
  mounted: function() {
    let self = this;
    DataProvider.addChangeObserver(function() {
      self.data = self.getIGInstructions();
      let nodes = DataProvider.getStep2Data().nodes;
      nodes.forEach((n, i) => {
        // used to refresh routing array interface
        Vue.set(self.nodes, i, n);
      });
    });
  },
  watch: {
    active: function(val) {
      this.data = this.getIGInstructions();
    },
    channelLines: function() {
      this.data = this.getIGInstructions();
    },
    gin: function() {
      this.data = this.getIGInstructions();
    },
    gout: function() {
      this.data = this.getIGInstructions();
    }
  },
  methods: {
    _input_channel(type, name, val) {
      // val = $event.target.value
      let tmp = val.split("#");
      if (tmp[tmp.length - 1] !== "") return; // do not continue if no trailing #
      let res = [];
      for (let e of tmp) {
        let tmp2 = e.split(",");
        if (tmp2.length == 2) {
          let x = parseFloat(tmp2[0]);
          let y = parseFloat(tmp2[1]);
          res.push({ x: x, y: y });
        }
      }
      let step3 = DataProvider.getStep3Data();
      if (!type) {
        // if input
        step3["channels"][DataProvider.getNodeIdFromName(name)]["in"] = res;
      } else {
        // if output
        step3["channels"][DataProvider.getNodeIdFromName(name)]["out"] = res;
      }
      this.dataUpdate(JSON.stringify(this.getIGInstructions()));
    },
    _check_manual_route(name) {
      let step3 = DataProvider.getStep3Data();
      let channel_in =
        step3["channels"][DataProvider.getNodeIdFromName(name)]["in"];
      let channel_out =
        step3["channels"][DataProvider.getNodeIdFromName(name)]["out"];
      // position punch holes at the end of channels
      step3["nodes"][DataProvider.getNodeIdFromName(name)]["inlet"] =
        channel_in[channel_in.length - 1];
      step3["nodes"][DataProvider.getNodeIdFromName(name)]["outlet"] =
        channel_out[channel_out.length - 1];
      // reinitialize dimensions
      step3["channels"][DataProvider.getNodeIdFromName(name)]["dimentions"][
        "W_cin"
      ] = 0;
      step3["channels"][DataProvider.getNodeIdFromName(name)]["dimentions"][
        "W_cout"
      ] = 0;
      // compute route position
      let routingOK = createDimension(
        { path: channel_in },
        { path: channel_out },
        name,
        100,
        "inlet first"
      );
      if (!routingOK) {
        Swal.fire("Oops", "No dimensions matching the positionning", "error");
      }

      this.dataUpdate(JSON.stringify(this.getIGInstructions())); // data update
    },
    _route(name, direction) {
      if (direction === "h")
        route(
          name,
          ChannelDirection.Horizontal,
          parseFloat(this.minDistPunchHole),
          parseFloat(this.minDistChannel)
        );
      else
        route(
          name,
          ChannelDirection.Vertical,
          parseFloat(this.minDistPunchHole),
          parseFloat(this.minDistChannel)
        );
      this.data = this.getIGInstructions();
    },
    updateChip(d) {
      this.data = d;
    },
    dataUpdate: function(newValue) {
      this.setIGInstructions(newValue);
      this.updateChip(this.getIGInstructions());
    },
    setIGInstructions: function(str) {
      let d = JSON.parse(str);
      let step3Data = DataProvider.getStep3Data();
      d.instr.map(node => {
        if (node["punch-hole"]) {
          let data = step3Data.nodes[node["id-step3"]].outlet;
          if (node["punch-hole"] === "inlet") {
            data = step3Data.nodes[node["id-step3"]].inlet;
          }
          if (node.cx !== data.x || node.cy !== data.y) {
            step3Data.channels = step3Data.channels.filter(e => {
              return e.name !== node.name;
            });
          }
          data.x = node.cx;
          data.y = node.cy;
        }
      });
    },
    getWidth() {
      return DataProvider.getStep1Data().chip.w;
    },
    getHeight() {
      return DataProvider.getStep1Data().chip.h;
    },

    /**
    type = "input" | "output"
    */
    drawApproximation(type, color) {
      let id_instr = type === "input" ? 2000 : 3000;
      let layer = type === "input" ? "gin" : "gout";
      let d =
        type === "input"
          ? DataProvider.getDebug3Data().inputGraph
          : DataProvider.getDebug3Data().outputGraph;
      if (d) {
        let res = [];
        let precision = DataProvider.getStep3Data().params.precision;

        // TEST NB ELTS
        let nb_start = 0;
        for (let i = 0; i < d.length; i++) {
          for (let j = 0; j < d[i].length; j++) {
            if (d[i][j]) nb_start++;
          }
        }
        let end = rectangularFloodFill(d);
        let nb_end = end.length;
        end.forEach(e => {
          res.push({
            id: id_instr++,
            layer: layer,
            type: "rect",
            x: `${e.x * precision}`,
            y: `${e.y * precision}`,
            width: `${e.w * precision}`,
            height: `${e.h * precision}`,
            fill: color
          });
        });

        return res;
      } else {
        return [];
      }
    },
    existsChannel: function(name) {
      let step3Data = DataProvider.getStep3Data();
      let res = false;
      step3Data.channels.forEach(e => {
        if (e.name === name) res = true;
      });
      return res;
    },
    drawChannelLines: function() {
      let id_instr = 1000;
      let res = [];
      let step3Data = DataProvider.getStep3Data();
      step3Data.channels.forEach(e => {
        for (let i = 0; i < e.in.length - 1; i++) {
          res.push({
            id: id_instr++,
            layer: "channelLines",
            type: "line",
            x1: `${e.in[i].x}`,
            y1: `${e.in[i].y}`,
            x2: `${e.in[i + 1].x}`,
            y2: `${e.in[i + 1].y}`,
            stroke: "#5c5",
            "stroke-width": 2
          });
        }
        for (let i = 0; i < e.out.length - 1; i++) {
          res.push({
            id: id_instr++,
            layer: "channelLines",
            type: "line",
            x1: `${e.out[i].x}`,
            y1: `${e.out[i].y}`,
            x2: `${e.out[i + 1].x}`,
            y2: `${e.out[i + 1].y}`,
            stroke: "#55c",
            "stroke-width": 2
          });
        }
      });
      return res;
    },
    getIGInstructions: function() {
      let step1Data = DataProvider.getStep1Data();
      let step2Data = DataProvider.getStep2Data();
      let step3Data = DataProvider.getStep3Data();

      let layer_order = [
        "1",
        "2",
        "punchholeIndicators",
        "3",
        "4",
        "5",
        "gin",
        "gout",
        "channelLines"
      ];
      let instructions = [];
      if (this.gin) {
        // layer_order.push('gin')
        // add approximation graph drawing
        instructions = instructions.concat(
          this.drawApproximation("input", "rgba(0,100,0,0.25)")
        );
      }
      if (this.gout) {
        // layer_order.push('gout')
        // add approximation graph drawing
        instructions = instructions.concat(
          this.drawApproximation("output", "rgba(0,0,100,0.25)")
        );
      }
      if (this.channelLines) {
        // layer_order.push('channelLines')
        // add approximation graph drawing
        instructions = instructions.concat(this.drawChannelLines());
      }

      let id_instr = 0;

      let id_indicators = 5000;
      let punch_hole_offset = 4;
      let punch_hole_resolution = 9;
      let radius_indicator = 5;
      let offset_indicators = -1;
      // let radius_indicator = 7.5/2;
      // let offset_indicators = 1;
      for (let i = 0; i < 4; i++) {
        for (let j = 0; j < 4; j++) {
          instructions.push({
            id: id_indicators++,
            layer: "punchholeIndicators",
            type: "circle",
            cx: (i + 0.5) * 2 * radius_indicator + (i + 1) * offset_indicators,
            cy: (j + 0.5) * 2 * radius_indicator + (j + 1) * offset_indicators,
            r: 6.7 / 2,
            fill: "rgba(0,0,0,0)",
            stroke: "teal"
          });
        }
      }

      // add grid
      instructions.push({
        id: id_instr++,
        layer: "1",
        type: "grid",
        "dim-x": 1,
        "dim-y": 1,
        stroke: "#ddd",
        x: 0,
        y: 0,
        w: step1Data.chip.w,
        h: step1Data.chip.h
      });

      // add x marks
      for (let x = 0; x <= step1Data.chip.w; x += 5) {
        instructions.push({
          id: "x-" + x,
          layer: "1",
          type: "rect",
          x: x,
          y: -1,
          width: 0,
          height: 0,
          fill: "rgba(0,0,0,0)",
          "stroke-width": 0,
          text: x,
          textColor: "#888",
          textStroke: "#888"
        });
      }

      // add y marks
      for (let y = 0; y <= step1Data.chip.w; y += 5) {
        instructions.push({
          id: "y-" + y,
          layer: "1",
          type: "rect",
          x: -1,
          y: y,
          width: 0,
          height: 0,
          fill: "rgba(0,0,0,0)",
          "stroke-width": 0,
          text: y,
          textColor: "#888",
          textStroke: "#888"
        });
      }

      // add chambers
      step2Data.nodes.forEach(e => {
        instructions.push({
          id: id_instr++,
          layer: "3",
          type: "rect",
          x: e.x,
          y: e.y,
          width: e.w,
          height: e.h,
          fill: "#777",
          "stroke-width": 0,
          text: e.name,
          textColor: "#ccc",
          textStroke: "#333"
        });
      });

      // add axonal channels
      step2Data.channelPositions.forEach(e => {
        instructions.push({
          id: id_instr++,
          layer: "2",
          type: "rect",
          x: e.x,
          y: e.y,
          width: e.w,
          height: e.h,
          fill: "#999",
          "stroke-width": 0
        });
      });

      // add punch holes
      step3Data.nodes.forEach((e, i) => {
        instructions.push({
          // input green
          id: id_instr++,
          layer: "3",
          type: "circle",
          cx: e.inlet.x,
          cy: e.inlet.y,
          r: step3Data.params.inletRadius,
          fill: "#cea",
          text: `I`,
          draggable: true,
          name: e.name,
          "punch-hole": "inlet",
          "id-step3": i,
          stickingResolution: punch_hole_resolution,
          stickingOffset: punch_hole_offset
        });
        instructions.push({
          // output blue
          id: id_instr++,
          layer: "3",
          type: "circle",
          cx: e.outlet.x,
          cy: e.outlet.y,
          r: step3Data.params.outletRadius,
          fill: "#cae",
          text: `O`,
          draggable: true,
          name: e.name,
          "punch-hole": "outlet",
          "id-step3": i,
          stickingResolution: punch_hole_resolution,
          stickingOffset: punch_hole_offset
        });
      });

      // add helper lines (inlets)
      step3Data.nodes.forEach((e, i) => {
        if (!this.existsChannel(e.name)) {
          instructions.push({
            id: id_instr++,
            layer: "4",
            type: "line",
            x1: e.inlet.x,
            y1: e.inlet.y,
            x2: step2Data.nodes[i].x + step2Data.nodes[i].w / 2,
            y2: step2Data.nodes[i].y + step2Data.nodes[i].h / 2,
            stroke: "#f003",
            "stroke-width": 2,
            "stroke-linecap": "round",
            "stroke-dasharray": "1, 30"
          });
        }
      });
      // add helper lines (outlets)
      step3Data.nodes.forEach((e, i) => {
        if (!this.existsChannel(e.name)) {
          instructions.push({
            id: id_instr++,
            layer: "4",
            type: "line",
            x1: e.outlet.x,
            y1: e.outlet.y,
            x2: step2Data.nodes[i].x + step2Data.nodes[i].w / 2,
            y2: step2Data.nodes[i].y + step2Data.nodes[i].h / 2,
            stroke: "#f003",
            "stroke-width": 2,
            "stroke-linecap": "round",
            "stroke-dasharray": "1, 30"
          });
        }
      });

      // add input/output channels
      let pi = Math.PI;
      step3Data.channels.forEach(e => {
        instructions.push({
          id: id_instr++,
          layer: "2",
          type: "rounded-path",
          fill: "#eca",
          stroke: "#eca",
          instructions: e["in"].map(instr => {
            return {
              x: instr.x,
              y: instr.y
            };
          }),
          width: e.dimentions["W_cin"],
          radius: step3Data.params.minRadius
        });
        instructions.push({
          id: id_instr++,
          layer: "2",
          type: "rounded-path",
          fill: "#eca",
          stroke: "#eca",
          instructions: e["out"].map(instr => {
            return {
              x: instr.x,
              y: instr.y
            };
          }),
          width: e.dimentions["W_cout"],
          radius: step3Data.params.minRadius
        });
      });

      let draw_size = {
        w: step1Data.chip.w,
        h: step1Data.chip.h
      };

      return {
        instr: instructions,
        layerOrder: layer_order,
        drawSize: draw_size
      };
    }
  }
};
</script>

<style lang="scss">
#step3Component {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.step3Actions {
  padding: 20px;
}

@media only screen and (max-width: 1100px) {
  #step3Component {
    flex-direction: column;
  }
}

.actiontable {
    margin-left: 20px;
    thead {
        tr {
            th {
                padding: 10px 20px 10px 10px;
            }
        }
    }
    tbody {
        tr {
            td {
                justify-content: center;
            }
        }
    }
}

.emphasis {
    font-weight: bold;
}

.actioncat {
    margin-bottom: 20px;
}

</style>
