<template>
    <v-app id="inspire">
        <v-navigation-drawer app v-model="drawer">
            <v-list-item>
                <v-list-item-content>
                <v-list-item-title class="title">
                    Chip designer
                </v-list-item-title>
                <v-list-item-subtitle>
                    modules
                </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list>
                <v-list-item v-for="(e,i) in menuoptions" :key="e.name" 
                link @click="select(i)" active-class="highlighted" :class="pos===i ? 'highlighted' : ''">
                    <v-list-item-action><v-icon>{{e.icon}}</v-icon></v-list-item-action>
                    <v-list-item-content><v-list-item-title>{{e.name}}</v-list-item-title></v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-main class="vmain">
            <Positionning @drawerclicked="onDrawerClicked" v-if="pos===0" />
            <DimSed @drawerclicked="onDrawerClicked" v-if="pos===1" />
            <LoutComp @drawerclicked="onDrawerClicked" v-if="pos===2" />
        </v-main>
        <v-footer color="indigo" app>
            <span class="white--text">&copy; {{ new Date().getFullYear() }} netri.fr</span>
        </v-footer>
    </v-app>
</template>
<script>
    // load Components
    import Positionning from './components/Positionning.vue'
    import DimSed from './components/DimSed.vue'
    import LoutComp from './components/LoutComp.vue'

    // load styles
    import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css'

    export default {
        components: { /*Positionning, DimSed, LoutComp*/
            Positionning,
            DimSed,
            LoutComp,
        },
        data() {
          return {
            pos: 0,
            drawer: true,
            menuoptions: [
                {name: 'chip designer (classic)', icon: 'web'},
                {name: 'DimSed (experimental)', icon: 'widgets'},
                {name: 'Lout (experimental)', icon: 'widgets'},
            ]
          }
        },
        methods: {
            onDrawerClicked() {this.drawer = !this.drawer},
            select(i) { 
                this.pos = i;
            },
        }
    }
</script>
<style lang="scss">
    .highlighted {
        background-color: #ddd;
    }
</style>